body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f8f8;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 改进阴影效果 */
    transition: box-shadow 0.3s ease; /* 添加过渡效果 */
}

form:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 悬浮时改进阴影效果 */
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
select {
    width: calc(100% - 22px);
    padding: 10px; /* 调整输入框的内边距 */
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease; /* 添加过渡效果 */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    border-color: #007bff; /* 输入框聚焦时改变边框颜色 */
}

#gender {
    margin-top: 5px;
}

#programming_languages {
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 12px 24px; /* 调整按钮的内边距 */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
    display: block;
    width: 100%;
    transition: background-color 0.3s ease; /* 添加过渡效果 */
}

button:hover {
    background-color: #0056b3; /* 悬浮时改变按钮背景颜色 */
}

#loading,
#successMessage {
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    opacity: 0; /* 初始隐藏 */
    transition: opacity 0.5s ease; /* 添加过渡效果 */
}

#surveyForm.submitting #loading,
#surveyForm.submitted #successMessage {
    opacity: 1; /* 提交时显示 */
}
